.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .container-canvas{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
      height: 100%; 

      .palette{
        background: rgb(252, 252, 252);
        padding-left: 50px;
        padding-right: 50px;
        height: 100px;
        display: flex;
        flex-direction: row;
        border-bottom-left-radius: 5em;
        border-bottom-right-radius: 5em;
        margin-bottom: 60px;
        width: 80%;
        border-bottom : 1px solid rgba(5, 5, 8, 0.253);
        box-shadow: 0 0 20px rgba(21, 20, 34, 0.15);

        .button-component{ 
            padding : 10px;
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 0;
            border-right: 1px solid rgba(5, 5, 8, 0.253);
            
            width: 140px; 

            #undo{
                padding:0;
                margin:0;
                width: 50%;
                font-size: 2em;
                background: none;
                border:none; 
	            transition: all 0.35s ease;
                &:hover{ 
                    font-size: 3em;
                    cursor: pointer;
                }
            }
             #clear{
                padding:0;
                margin:0;
                margin-top: 5px;
                width: 50%;
                font-size: 1.7em;
                background: none;
                border:none; 
	            transition: all 0.35s ease;
                &:hover{ 
                    font-size: 2.5em;
                    cursor: pointer;
                }
            }
        }
        .color-component{ 
            margin-top: 5px;
            margin-bottom: 5px;
            border-right: 1px solid rgba(5, 5, 8, 0.253);
            width: 45%;

            .container-all-color{
                margin-left: 20px;  
                display: flex;
                flex-direction: column;
                border : 1px solid rgba(146, 146, 146, 0.253);
                width: 160px;
                height: 100%;

                .color-row1{
                    display: flex;
                    flex-direction: row; 
                    height: 33.3%;
                    button:nth-child(1){ 
                        border:none;
                        background: grey;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(2){ 
                        border:none;
                        background: black;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(3){ 
                        border:none;
                        background: maroon;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(4){ 
                        border:none;
                        background: red;
                        width: 25%;
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:hover{
                        cursor: pointer; 
                        border: 2px solid rgba(21, 20, 34, 0.15);
                    }
                }
                .color-row2{ 
                    display: flex;
                    flex-direction: row; 
                    height: 33.3%;
                    button:nth-child(1){ 
                        border:none;
                        background: orange;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(2){ 
                        border:none;
                        background: yellow;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(3){ 
                        border:none;
                        background: yellowgreen;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(4){ 
                        border:none;
                        background: green;
                        width: 25%;
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:hover{
                        cursor: pointer; 
                        border: 2px solid rgba(21, 20, 34, 0.15);
                    }
                }
                .color-row3{  
                    display: flex;
                    flex-direction: row; 
                    height: 33.3%;
                    box-shadow: 0 0 0 ;
                    button:nth-child(1){ 
                        border:none;
                        background: cyan;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(2){ 
                        border:none;
                        background: blue;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(3){ 
                        border:none;
                        background: purple;
                        width: 25%;
                        border-right: 1px solid rgba(146, 146, 146, 0.253);
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:nth-child(4){ 
                        border:none;
                        background: sandybrown;
                        width: 25%;
                        border-bottom: 1px solid rgba(146, 146, 146, 0.253);
                    }
                    button:hover{
                        cursor: pointer; 
                        border: 2px solid rgba(21, 20, 34, 0.15);
                    }
                }
            }

        }
        .information-component{  
            padding-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 500px;
            box-shadow: 0 0 0 ;
            p{
                font-size: 16px;
            }
        }

     } 

  }
  
  div.container-canvas :nth-child(3){    
    box-shadow: 0 0 20px rgba(21, 20, 34, 0.15);
}

@media (max-width: 1310px){
    .container-canvas .palette .information-component p {
        font-size: 12px; }
}
 